<header
  class="fixed top-0 left-0 z-10 w-full p-2 border-b-2 border-gray-800 bg-dark-blue-600 bg-opacity-85"
>
  <nav class="text-white lg:px-6">
    <div class="flex flex-wrap items-center justify-between px-4 mx-auto">
      <a
        href="/"
        class="flex items-center py-2 pl-3 pr-4 transition-all ease-out border-gray-500 rounded lg:p-0 hover:translate-y-1"
        aria-current="page"
      >
        <img
          src="../assets/logoAula.png"
          class="h-6 rounded-full lg:mr-3 sm:h-9 sm:p-0"
          alt="Logo de aula emprende"
        />
        <span
          class="self-center hidden text-xl font-semibold whitespace-nowrap dark:text-white font-voll md:inline-block"
          >Aula Emprende</span
        >
      </a>
      <div class="flex items-center lg:order-2">
        @if (userLogged) {
        <div class="relative w-full group">
          <button
            class="py-2.5 px-3 w-full md:text-sm text-site bg-transparent peer flex items-center justify-between rounded font-voll font-bold"
          >
            {{ currentUser.name }}
          </button>
          <div
            class="absolute z-[99] top-[100%] left-[50%] translate-x-[-50%] rounded-md overflow-hidden shadow-lg min-w-[50px] w-max peer-focus:visible peer-focus:opacity-100 opacity-0 invisible duration-200 p-1 bg-dark-blue-700 border border-dimmed text-xs md:text-sm"
          >
            <div
              class="flex px-3 py-2 rounded-md cursor-pointer hover:bg-dark-blue-900"
            >
              <a
                class="w-full font-voll"
                routerLink="/perfil"
                routerLinkActive="active"
                aria-current="page"
                >Perfil</a
              >
            </div>
            <div
              class="px-3 py-2 rounded-md cursor-pointer hover:bg-dark-blue-900"
            >
              <button (click)="logout()" class="font-voll">Logout</button>
            </div>
          </div>
        </div>
        }@else {
        <a
          routerLink="/login"
          routerLinkActive="active"
          aria-current="page"
          class="font-slabo"
          class="px-4 font-bold transition duration-300 border-b border-gray-800 rounded-full hover:bg-dark-blue-800 hover:border-transparent hover:text-primary-700 hover:scale-105"
          >Login</a
        >
        }
        <button
          type="button"
          class="inline-flex items-center p-2 ml-1 text-sm rounded-lg lg:hidden hover:bg-dark-blue-500 focus:outline-none"
          aria-expanded="false"
          (click)="toggleMobileMenu()"
        >
          <span class="sr-only">Abrir menú principal</span>
          @if (!isMobileMenuOpen) {
          <svg
            class="w-6 h-6"
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h16m-7 6h7"
            ></path>
          </svg>
          }@else {
          <svg
            class="w-6 h-6"
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M6 18L18 6M6 6l12 12"
            ></path>
          </svg>
          }
        </button>
      </div>
      <div
        [class.hidden]="!isMobileMenuOpen"
        class="items-center justify-between w-full lg:flex lg:w-auto lg:order-1"
        id="mobile-menu-2"
      >
        <ul
          class="flex flex-col mt-4 font-medium lg:flex-row lg:space-x-8 lg:mt-0 font-voll"
        >
          <li>
            <a
              routerLink="/iniciarrhh"
              routerLinkActive="active"
              aria-current="page"
              class="block pl-3 pr-4 font-bold transition duration-300 border-b border-gray-800 rounded-full hover:bg-dark-blue-800 hover:border-transparent hover:text-primary-700 hover:scale-105"
              aria-current="page"
              >Iniciativa y RRHH</a
            >
          </li>
          <li>
            <a
              routerLink="/mercamarke"
              routerLinkActive="active"
              aria-current="page"
              class="block pl-3 pr-4 font-bold transition duration-300 border-b border-gray-800 rounded-full hover:bg-dark-blue-800 hover:border-transparent hover:text-primary-700 hover:scale-105"
              aria-current="page"
              >Mercado y Marketing</a
            >
          </li>
          <li>
            <a
              routerLink="/gestions"
              routerLinkActive="active"
              aria-current="page"
              class="block pl-3 pr-4 font-bold transition duration-300 border-b border-gray-800 rounded-full hover:bg-dark-blue-800 hover:border-transparent hover:text-primary-700 hover:scale-105"
              aria-current="page"
              >Gestiones</a
            >
          </li>
          @if(userLogged){
          <li>
            <a
              routerLink="/plan"
              routerLinkActive="active"
              aria-current="page"
              class="block pl-3 pr-4 font-bold transition duration-300 border-b border-gray-800 rounded-full hover:bg-dark-blue-800 hover:border-transparent hover:text-primary-700 hover:scale-105"
              aria-current="page"
              >Crea tu plan</a
            >
          </li>
          <li>
            <a
              routerLink="/events"
              routerLinkActive="active"
              aria-current="page"
              class="block pl-3 pr-4 font-bold transition duration-300 border-b border-gray-800 rounded-full hover:bg-dark-blue-800 hover:border-transparent hover:text-primary-700 hover:scale-105"
              aria-current="page"
              >Eventos</a
            >
          </li>

          }
          <li>
            <a
              routerLink="/contact"
              routerLinkActive="active"
              aria-current="page"
              class="block pl-3 pr-4 font-bold transition duration-300 border-b border-gray-800 rounded-full hover:bg-dark-blue-800 hover:border-transparent hover:text-primary-700 hover:scale-105"
              aria-current="page"
              >Contactanos</a
            >
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
