<div class="flex items-center justify-center h-screen">
  <video
    class="fixed top-0 left-0 z-0 object-cover min-w-full min-h-full"
    #videoPlayer
  >
    <source src="" type="video/mp4 font-voll" />
    Tu navegador web no soporta el vídeo.
  </video>
  <div class="z-10 max-w-screen-md p-2 bg-gray-800 rounded-lg">
    <h1
      class="mb-6 text-4xl font-bold text-center text-white md:text-6xl font-comfortaa"
    >
      ¡Bienvenid&#64; al Aula Emprende!
    </h1>
    <p class="mb-8 text-xl text-center text-white md:text-2xl font-comfortaa">
      ¡Donde tus ideas se convierten en realidad y tus sueños en proyectos!
    </p>
    <p class="text-lg text-center text-white md:text-xl font-comfortaa">
      En este espacio, encontrarás las herramientas, la inspiración y todo lo
      necesario para impulsar tu emprendimiento hacia el éxito.
    </p>
  </div>
</div>
