<main class="flex items-center justify-center h-screen">
  <div>
    <h1 class="text-center mb-9">Hola {{currentUser.name}} por favor elige para la seccion de: Iniciativa emprendedora:</h1>
    <div class="dispoContainer">
      <h2 class="text-center">Disponible:</h2>
      <div
        cdkDropList
        #dispoList="cdkDropList"
        [cdkDropListData]="dispo"
        [cdkDropListConnectedTo]="[eleccionList]"
        class="milist"
        (cdkDropListDropped)="drop($event)">
        @for (item of dispo; track item) {
          <div class="mibox" cdkDrag>{{item}}</div>
        }
      </div>
    </div>
    <div class="dispoContainer">
      <h2 class="text-center">Tu elección:</h2>
      <div
        cdkDropList
        #eleccionList="cdkDropList"
        [cdkDropListData]="eleccion"
        [cdkDropListConnectedTo]="[dispoList]"
        class="milist"
        (cdkDropListDropped)="drop($event)">
        @for (item of eleccion; track item) {
          <div class="mibox" cdkDrag>{{item}}</div>
        }
      </div>
    </div>
    <div class="flex justify-between text-center">
      <button class="px-4 py-2 font-bold text-white rounded bg-dark-blue-500 hover:bg-dark-blue-600">Anterior</button>
      <button class="px-4 py-2 font-bold text-white rounded bg-dark-blue-500 hover:bg-dark-blue-600">Siguiente</button>
    </div>
  </div>
</main>
