<div class="flex items-center justify-center h-screen bg-blue-900">
  @if (!this.processing) {
  <div
    class="relative overflow-y-auto bg-blue-400 rounded p-9 h-[500px] lg:h-auto"
  >
    <h1 class="text-center lg:text-2xl mb-9 sm:text-base font-voll">
      Hola {{ currentUser?.name }} por favor elige para la sección de:
      <p class="font-bold text-yellow-200 font-comfortaa">
        {{ currentTheme }}
      </p>
    </h1>
    <div class="dispoContainer">
      <h2 class="text-center font-comfortaa">Disponible:</h2>
      <div
        cdkDropList
        #dispoList="cdkDropList"
        [cdkDropListData]="available[currentTheme]"
        [cdkDropListConnectedTo]="[eleccionList]"
        class="milist font-comfortaa"
        (cdkDropListDropped)="drop($event)"
      >
        @for (item of available[currentTheme]; track available[currentTheme]) {
        <div class="mibox" cdkDrag>
          {{ item }}
        </div>
        }
      </div>
    </div>
    <div class="dispoContainer">
      <h2 class="text-center font-comfortaa">Tu elección:</h2>
      <div
        cdkDropList
        #eleccionList="cdkDropList"
        [cdkDropListData]="selections[currentTheme]"
        [cdkDropListConnectedTo]="[dispoList]"
        class="milist font-comfortaa"
        (cdkDropListDropped)="drop($event)"
      >
        @for (item of selections[currentTheme]; track selections[currentTheme])
        {
        <div class="mibox" cdkDrag>
          {{ item }}
        </div>
        }
      </div>
    </div>
    <div class="flex justify-center text-center">
      @if (currentThemeIndex !== 0) {
      <div class="mr-11">
        <button
          class="px-4 py-2 font-bold text-white rounded bg-dark-blue-500 hover:bg-dark-blue-600 font-comfortaa"
          (click)="previousTheme()"
        >
          Anterior
        </button>
      </div>
      } @if (isLastTheme()) {
      <button
        class="px-4 py-2 font-bold text-white rounded bg-dark-blue-500 hover:bg-dark-blue-600 font-comfortaa"
        (click)="finish()"
      >
        Finalizar
      </button>
      }@else {
      <button
        class="px-4 py-2 font-bold text-white rounded bg-dark-blue-500 hover:bg-dark-blue-600 font-comfortaa"
        (click)="nextTheme()"
      >
        Siguiente
      </button>
      }
    </div>
  </div>
  } @else { @if (!showResponse) {
  <div class="flex flex-col items-center">
    <mat-spinner></mat-spinner>
    <h1 class="p-2 text-xl font-bold text-white lg:text-3xl font-voll">
      Procesando tu plan...
    </h1>
  </div>
  }@else {
  <div class="flex flex-col items-center">
    <h1 class="p-2 text-xl font-bold text-white lg:text-3xl font-voll">
      {{ messageResponsive?.message }}
    </h1>
    <video muted autoplay width="600" height="600">
      @if (messageResponsive?.resultado) {
      <source src="../../../assets/planSuce.mp4" type="video/mp4" />
      Tu navegador web no soporta el vídeo. }@else {
      <source src="../../../assets/planUnsuce.mp4" type="video/mp4" />
      Tu navegador web no soporta el vídeo. }
    </video>
  </div>
  } }
</div>
