<div class="flex items-center justify-center h-screen bg-blue-900">
  <div class="bg-blue-400 rounded p-9">
    <h1 class="text-center lg:text-2xl mb-9 sm:text-base">
      Hola {{ currentUser.name }} por favor elige para la seccion de:
      <p class="font-bold text-yellow-200">
        {{ currentTheme }}
      </p>
    </h1>
    <div class="dispoContainer">
      <h2 class="text-center">Disponible:</h2>
      <div
        cdkDropList
        #dispoList="cdkDropList"
        [cdkDropListData]="available[currentTheme]"
        [cdkDropListConnectedTo]="[eleccionList]"
        class="milist"
        (cdkDropListDropped)="drop($event)"
      >
        @for (item of available[currentTheme]; track available[currentTheme]) {
        <div class="mibox" cdkDrag>
          {{ item }}
        </div>
        }
      </div>
    </div>
    <div class="dispoContainer">
      <h2 class="text-center">Tu elección:</h2>
      <div
        cdkDropList
        #eleccionList="cdkDropList"
        [cdkDropListData]="selection"
        [cdkDropListConnectedTo]="[dispoList]"
        class="milist"
        (cdkDropListDropped)="drop($event)"
      >
        @for (item of selection; track selection) {
        <div class="mibox" cdkDrag>
          {{ item }}
        </div>
        }
      </div>
    </div>
    <div class="flex justify-between text-center">
      <button
        class="px-4 py-2 font-bold text-white rounded bg-dark-blue-500 hover:bg-dark-blue-600"
        (click)="previousTheme()"
      >
        Anterior
      </button>
      <button
        class="px-4 py-2 font-bold text-white rounded bg-dark-blue-500 hover:bg-dark-blue-600"
        (click)="nextTheme()"
      >
        Siguiente
      </button>
    </div>
  </div>
</div>
