<div class="bg-blue-900">
  <div class="pt-20 pb-32">
    <div class="max-w-screen-lg px-5 mx-auto text-center">
      <h1 class="mb-8 text-4xl font-bold text-white font-voll">
        Hola {{ this.currentUser?.name }} !
      </h1>

      <div class="mb-8 text-lg font-bold bg-blue-300 font-comfortaa">
        {{ messageResponsive?.message }}
      </div>
      @if (messageResponsive?.resultado) {
      <div class="flex flex-col justify-center mb-8 md:flex-row">
        <div
          class="p-8 mb-4 bg-yellow-300 rounded-lg shadow-lg md:mb-0 md:mr-4"
        >
          @if (currentPlan?.iniciativa != '') {
          <h1 class="mb-5 font-voll">
            En
            <span class="bg-blue-200">Iniciativa emprendedora</span>
            principalmente destacas:
          </h1>
          <p class="font-comfortaa">{{ currentPlan?.iniciativa }}</p>
          }@else {
          <div class="flex flex-col items-center justify-items-center">
            <h1 class="mb-2 text-sm font-bold font-voll">
              Te falta por hacer la parte de Iniciativa emprendedora
            </h1>
            <button
              routerLink="/plan"
              (click)="setCurrentIndex(0)"
              routerLinkActive="active"
              aria-current="page"
              class="p-2 mb-3 transition-colors duration-300 ease-in-out bg-blue-300 rounded font-comfortaa hover:bg-blue-400"
            >
              Vamos a crearla!
            </button>
          </div>
          }
        </div>
        <div class="p-8 bg-blue-300 rounded-lg shadow-lg md:ml-4">
          @if (currentPlan?.mercadoMarketing != '') {
          <h1 class="mb-5 font-voll">
            En
            <span class="bg-blue-200">Mercado y Marketing</span>
            destaca:
          </h1>
          <p class="font-comfortaa">{{ currentPlan?.mercadoMarketing }}</p>
          }@else {
          <div class="flex flex-col items-center justify-items-center">
            <h1 class="mb-2 text-sm font-bold font-voll">
              Te falta por hacer la parte de Mercado y marketing
            </h1>
            <button
              routerLink="/plan"
              (click)="setCurrentIndex(1)"
              routerLinkActive="active"
              aria-current="page"
              class="p-2 mb-3 transition-colors duration-300 ease-in-out bg-yellow-300 rounded hover:bg-blue-400 font-comfortaa"
            >
              Vamos a crearla!
            </button>
          </div>
          }
        </div>
      </div>

      <div class="flex justify-center mb-8">
        <div class="p-8 bg-red-300 rounded-lg shadow-lg">
          @if (currentPlan?.gestiones != '') {
          <h1 class="mb-5 font-voll">
            Finalmente en
            <span class="bg-blue-200">gestiones</span>
            se recoge:
          </h1>
          <p class="font-comfortaa">{{ currentPlan?.gestiones }}</p>
          }@else {
          <div class="flex flex-col items-center justify-items-center">
            <h1 class="mb-2 text-sm font-bold font-voll">
              Se te ha olvidado lo último que es la parte de gestiones
            </h1>
            <button
              routerLink="/plan"
              routerLinkActive="active"
              (click)="setCurrentIndex(2)"
              aria-current="page"
              class="p-2 mb-3 transition-colors duration-300 ease-in-out bg-green-300 rounded hover:bg-blue-400 font-comfortaa"
            >
              Vamos a crearla!
            </button>
          </div>
          }
        </div>
      </div>

      <div class="flex justify-center mb-3">
        <button
          class="p-2 mr-3 transition-colors duration-300 ease-in-out bg-blue-300 rounded hover:bg-blue-400 font-voll"
        >
          Descargar
        </button>
        <button
          routerLink="/plan"
          routerLinkActive="active"
          aria-current="page"
          class="p-2 transition-colors duration-300 ease-in-out bg-blue-300 rounded hover:bg-blue-400 font-comfortaa"
        >
          Modificar
        </button>
      </div>
      }@else{
      <h1 class="mb-2 text-xl font-bold text-yellow-400 font-voll">
        Crea tu plan con nosotros!
      </h1>
      <button
        routerLink="/plan"
        routerLinkActive="active"
        aria-current="page"
        class="p-2 mb-3 transition-colors duration-300 ease-in-out bg-blue-300 rounded hover:bg-blue-400 font-comfortaa"
      >
        Vamos allá!
      </button>
      }
    </div>
    <div class="max-w-screen-lg px-5 mx-auto mb-[190px]">
      <div class="mb-8 text-lg bg-blue-300">
        <h1 class="font-bold text-center font-voll">
          {{ this.messageComments?.message }}
        </h1>
      </div>
      <ul class="font-bold text-white font-voll">
        @for (item of comments; track $index) {
        <li class="mb-4">
          <div class="p-4 bg-gray-800 rounded">
            <div class="flex justify-between">
              <div>
                <p class="text-gray-300">{{ item.content }}</p>
                <p class="text-sm text-gray-500">{{ item.publication_date }}</p>
                <p class="text-sm text-gray-500">{{ item.user_name }}</p>
              </div>
              <button
                (click)="deleteComment(item.id)"
                class="p-2 bg-red-600 rounded"
              >
                Eliminar
              </button>
            </div>
          </div>
        </li>
        }
      </ul>
    </div>
  </div>
</div>
