<div class="p-8 bg-blue-600 md:p-12">
  <div class="flex flex-col items-center justify-center md:flex-row">
    <img
      src="../../../assets/iniciativa1.jpg"
      width="600"
      height="400"
      alt="Iniciativa emprendedora"
      class="max-w-full mx-8 md:mx-0 md:mr-8"
    />
    <div class="md:w-1/2">
      <h1
        class="pt-6 pb-2 text-3xl font-bold text-white break-normal font-voll"
      >
        Lo primero es la iniciativa emprendedora
      </h1>
      <div class="mb-6 text-white rounded-lg font-comfortaa">
        La iniciativa emprendedora supone la capacidad de convertir una idea en
        una realidad utilizando
        <span class="text-blue-200">imaginación e ingenio (creatividad)</span>
        para hacer algo nuevo o algo que ya existe, pero con alguna modificación
        (<span class="text-green-200">innovación</span>), y siempre asumiendo el
        riesgo de las decisiones. Una persona emprendedora ve oportunidades
        donde otros ven problemas.
      </div>

      <div class="mb-6 text-white rounded-lg font-comfortaa">
        Debido a los continuos cambios que se producen en nuestra sociedad, la
        <span class="text-green-200">creatividad</span> y la
        <span class="text-blue-200">innovación</span> son las características
        que diferencian una iniciativa emprendedora de éxito de otra condenada
        al fracaso.
      </div>

      <div class="mb-6 text-white rounded-lg font-comfortaa">
        Podemos definir la iniciativa emprendedora como la capacidad para hacer
        realidad una idea <span class="text-blue-200">innovadora</span>, es
        decir, emprender es transformar una idea en un proyecto concreto,
        generando algún beneficio.
      </div>

      <div class="mb-6 text-white rounded-lg font-comfortaa">
        <p class="text-lg font-semibold">
          Surge con la identificación de una oportunidad y la capacidad para
          explotarla con una idea de negocio, que debe cumplir ciertos
          requisitos para tener éxito:
        </p>
        <ul class="pl-5 mb-3 text-white list-disc">
          <li>
            Cubrir una necesidad en el mercado, es decir, los clientes necesitan
            ese producto.
          </li>
          <li>
            Producir beneficios, es decir, el producto debe ser rentable a corto
            plazo o en un futuro.
          </li>
          <li>
            Ser técnicamente posible, es decir, se puede llevar a cabo con los
            medios técnicos actuales.
          </li>
          <li>
            Aportar novedad o distinción, es decir, el producto debe
            diferenciarse de la competencia de algún modo.
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div
    class="flex flex-col items-center justify-center pt-10 md:flex-row md:pt-20"
  >
    <img
      src="../../../assets/iniciativa3.png"
      width="400"
      height="200"
      alt="Iniciativa emprendedora"
      class="max-w-full mr-8 md:mr-0 md:ml-8"
    />
    <div class="mx-8 md:w-1/2">
      <h1 class="mb-3 text-3xl font-bold text-white font-voll">
        Consejos de Recursos Humanos para emprendedores
      </h1>
      <ol class="pl-5 text-white list-decimal font-comfortaa">
        <li class="mb-2">Detecta las necesidades de la empresa.</li>
        <li class="mb-2">Elige personal con formación en RRHH.</li>
        <li class="mb-2">Define un manual para los empleados.</li>
        <li class="mb-2">Crea un organigrama y un Manual de Organización.</li>
        <li class="mb-2">Diseña una oferta laboral detallada.</li>
        <li class="mb-2">
          Tómate el tiempo necesario para seleccionar el mejor talento.
        </li>
        <li class="mb-2">
          Elabora un proceso de selección y contratación efectivo.
        </li>
        <li class="mb-2">Evalúa el clima laboral regularmente.</li>
        <li class="mb-2">Compensa a los buenos trabajadores.</li>
        <li class="mb-2">Implementa planes de formación para empleados.</li>
      </ol>
    </div>
    <img
      src="../../../assets/iniciativa2.jpg"
      width="500"
      height="200"
      alt="Iniciativa emprendedora"
      class="max-w-full ml-8 md:ml-0 md:mr-8"
    />
  </div>
  <div
    class="flex flex-col items-center justify-center pt-10 md:flex-row md:pt-20"
  >
    <div class="mx-8 md:w-1/2">
      <h1 class="mb-3 text-3xl font-bold text-white font-voll">
        4 consejos financieros que la mayoría de los emprendedores aprende por
        las malas
      </h1>
      <ol class="pl-5 text-white list-decimal font-comfortaa">
        <li class="mb-2">
          Optimiza métodos para prevenir impagos y morosidad. Es fundamental
          definir con precisión las condiciones de venta en cada transacción,
          especificando claramente los términos de pago. Se recomienda contar
          con contratos bien redactados y revisados por asesores fiscales o
          especialistas en derecho mercantil.
        </li>
        <li class="mb-2">
          Prioriza contar con reservas financieras sólidas. Saber cuándo iniciar
          una empresa es crucial para cualquier emprendedor. La planificación
          financiera y estratégica del negocio debe incluir la determinación del
          momento óptimo para lanzarse.
        </li>
        <li class="mb-2">
          Aprender a buscar financiamiento es una habilidad fundamental en el
          mundo empresarial. Las necesidades financieras y las estrategias de
          negociación varían en cada etapa del negocio, ya sea en la fase
          inicial, de consolidación, expansión o crecimiento. La negociación con
          entidades financieras requiere tanto arte como rigurosidad.
        </li>
        <li class="mb-2">
          Tomarse el tiempo necesario para crecer es clave. Antes de expandirte,
          asegúrate de tener un modelo de gestión sólido, una base de clientes
          fiel y la capacidad de mantener la calidad. El crecimiento implica
          desafíos financieros y de gestión, así que planifica cuidadosamente
          cada paso para garantizar el éxito.
        </li>
      </ol>
    </div>
    <img
      src="../../../assets/iniciativa4.jpg"
      width="500"
      height="200"
      alt="Iniciativa emprendedora"
      class="max-w-full ml-8 md:ml-0 md:mr-8"
    />
  </div>
  <div class="w-full pt-10 mx-auto md:pt-20 md:max-w-4xl">
    <blockquote
      class="p-4 text-2xl italic bg-gray-200 border-l-4 border-green-500 font-sed"
    >
      El éxito en el emprendimiento no se trata solo de tener grandes ideas,
      sino de tener la determinación y la perseverancia para convertirlas en
      realidad
    </blockquote>
  </div>
</div>
