<div class="p-8 bg-blue-900 md:p-12">
  <div class="flex flex-col items-center justify-center md:flex-row">
    <div class="md:w-1/2">
      <h1
        class="pt-6 pb-2 text-2xl font-bold text-green-200 break-normal lg:text-3xl font-voll"
      >
        Qué son las gestiones empresariales
      </h1>
      <div
        class="mb-6 text-green-400 rounded-lg lg:text-lg font-comfortaa sm:text-sm"
      >
        Las gestiones empresariales son el conjunto de actividades y procesos
        que se llevan a cabo dentro de una empresa para administrar
        eficientemente sus recursos y alcanzar sus objetivos. Estas actividades
        pueden incluir la planificación, organización, dirección y control de
        los recursos humanos, financieros, materiales y tecnológicos de la
        empresa.<br /><br />
        Hay diferentes tipos de gestiones empresariales, entre las cuales se
        pueden mencionar:
      </div>
      <div
        class="mb-6 text-green-400 rounded-lg lg:text-lg font-comfortaa sm:text-sm"
      >
        <ul class="pl-5 mb-2 text-green-400 list-decimal">
          <li class="mb-2">
            <span class="text-yellow-200">Gestión financiera: </span>
            Se encarga de administrar los recursos financieros de la empresa,
            incluyendo la inversión, financiamiento, control de costos y
            presupuestos.
          </li>
          <li class="mb-2">
            <span class="text-yellow-200">Gestión de recursos humanos: </span>
            Se centra en la administración del talento humano de la empresa,
            incluyendo la contratación, capacitación, evaluación del desempeño y
            desarrollo del personal.
          </li>
          <li class="mb-2">
            <span class="text-yellow-200">Gestión de operaciones: </span>
            Se ocupa de la planificación, organización y control de los procesos
            de producción y distribución de bienes y servicios.
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div
    class="flex flex-col items-center justify-center pt-10 md:flex-row md:pt-20"
  >
    <div class="mx-8 md:w-1/2">
      <h1
        class="pt-6 pb-2 text-2xl font-bold text-green-200 break-normal lg:text-3xl font-voll"
      >
        Gestión administrativa
      </h1>
      <p
        class="mb-6 text-green-400 rounded-lg lg:text-lg font-comfortaa sm:text-sm"
      >
        Consiste en el conjunto de actividades y procesos relacionados con la
        administración y organización de una empresa. Esto incluye la
        planificación, coordinación y control de las diferentes áreas y recursos
        de la empresa para garantizar su correcto funcionamiento y alcanzar sus
        objetivos.<br /><br />
        En resumen, la gestión administrativa abarca desde la gestión del
        personal y los recursos humanos hasta la gestión financiera, pasando por
        la gestión de operaciones y la gestión de la información.
      </p>
      <span class="text-yellow-200"
        >Proceso general de la gestión administrativa:
      </span>
      <ol
        class="pl-5 mt-2 text-white list-disc lg:text-lg font-comfortaa sm:text-sm"
      >
        <li class="mb-2">Pedido de productos o servicios.</li>
        <li class="mb-2">Preparación de albaranes de entrega.</li>
        <li class="mb-2">Emisión de albaranes de entrega.</li>
      </ol>
    </div>
    <img
      src="../../../assets/gestion2.jpg"
      width="400"
      height="200"
      alt="Iniciativa emprendedora"
      class="max-w-full mr-8 md:mr-0 md:ml-8"
    />
    <div class="mx-8 md:w-1/2">
      <h1
        class="pt-6 pb-2 text-2xl font-bold text-green-200 break-normal lg:text-3xl font-voll"
      >
        Gestión fiscal
      </h1>
      <p
        class="mb-6 text-green-400 rounded-lg lg:text-lg font-comfortaa sm:text-sm"
      >
        Consiste en el conjunto de acciones y procedimientos que una empresa
        realiza para cumplir con sus obligaciones tributarias ante las
        autoridades fiscales. Esto incluye el cálculo, declaración y pago de
        impuestos, así como el cumplimiento de otras obligaciones fiscales
        establecidas por la ley.<br /><br />
        La gestión fiscal es fundamental para garantizar el cumplimiento de las
        obligaciones legales de la empresa y evitar posibles sanciones por
        incumplimiento de las normativas fiscales.
      </p>
      <span class="text-yellow-200"
        >Tipos de impuestos en la gestión fiscal:
      </span>
      <ul
        class="pl-5 mt-2 text-white list-disc lg:text-lg font-comfortaa sm:text-sm"
      >
        <li class="mb-2">
          Impuesto sobre la Renta de las Personas Físicas (IRPF).
        </li>
        <li class="mb-2">Impuesto sobre el Valor Añadido (IVA).</li>
        <li class="mb-2">Impuesto sobre Sociedades (IS).</li>
      </ul>
    </div>
  </div>
</div>
