<div class="flex items-center justify-center h-screen bg-image">
  <div class="p-8 overflow-hidden bg-blue-400 rounded-lg shadow-md">
    <div class="w-full max-w-xs">
      <h2 class="mb-4 text-2xl font-bold">Login</h2>
      @if(errorMessage){
      <p class="font-bold text-red-900">{{ errorMessage }}</p>
      }
      <form
        [formGroup]="contactForm"
        (ngSubmit)="$event.preventDefault()"
        (submit)="login()"
        class="px-8 pt-6 pb-8 mb-4 bg-blue-200 rounded shadow-md"
      >
        <div class="mb-6">
          <p-floatLabel>
            <input
              type="text"
              id="username"
              name="username"
              pInputText
              [(ngModel)]="username"
              class="w-full px-3 py-2 leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline"
              formControlName="senderName"
            />
            <label
              for="username"
              class="block mb-2 text-sm font-bold text-gray-700"
              >Username or email</label
            >
          </p-floatLabel>
          @if (contactForm.get('senderName')?.invalid &&
          (contactForm.get('senderName')?.dirty ||
          contactForm.get('senderName')?.touched)) { @if
          (contactForm.get('senderName')?.hasError('required')){
          <div>
            <small class="text-red-600"
              >No puedes dejar este campo en blanco</small
            >
          </div>
          } }
        </div>
        <div class="mb-6">
          <p-floatLabel>
            <input
              type="password"
              id="password"
              name="password"
              pInputText
              [(ngModel)]="password"
              class="w-full px-3 py-2 leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline"
              formControlName="senderPassword"
            />
            <label
              for="username"
              class="block mb-2 text-sm font-bold text-gray-700"
              >Password</label
            >
          </p-floatLabel>
          @if (contactForm.get('senderPassword')?.invalid &&
          (contactForm.get('senderPassword')?.dirty ||
          contactForm.get('senderPassword')?.touched)) {
          <div>
            @if(contactForm.get('senderPassword')?.hasError('required')){
            <small class="text-red-600"
              >No puedes dejar este campo en blanco</small
            >
            }
          </div>
          }
        </div>
        <div class="flex items-center justify-between">
          <button
            type="submit"
            class="px-4 py-2 font-bold text-white bg-blue-500 rounded hover:bg-blue-700 focus:outline-none focus:shadow-outline"
          >
            Login
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
