<div class="p-8 bg-blue-900 md:p-12">
  <div class="flex flex-col items-center justify-center md:flex-row">
    <div class="md:w-1/2">
      <h1
        class="pt-16 pb-2 text-2xl font-bold text-green-200 break-normal lg:text-3xl font-voll"
      >
        Mercado
      </h1>
      <div
        class="mb-6 text-green-400 rounded-lg lg:text-lg font-comfortaa sm:text-sm"
      >
        El mercado es el espacio donde se lleva a cabo la interacción entre
        <span class="text-yellow-200">compradores y vendedores</span>,
        determinando los precios y las cantidades de los bienes y servicios
        intercambiados. Es un concepto fundamental en economía que abarca tanto
        transacciones físicas como virtuales.<br /><br />
        Existen diversos tipos de mercado, cada uno con sus características
        particulares:
      </div>
      <div class="mb-6 text-white rounded-lg font-comfortaa">
        <ul
          class="pl-5 mb-2 text-green-400 list-decimal rounded-lg lg:text-lg font-comfortaa sm:text-sm"
        >
          <li class="mb-2">
            <span class="text-yellow-200">
              Mercado de competencia perfecta:
            </span>
            Caracterizado por una gran cantidad de compradores y vendedores,
            productos homogéneos y libre entrada y salida de empresas.
          </li>
          <li class="mb-2">
            <span class="text-yellow-200">
              Mercado de competencia imperfecta:
            </span>
            En este mercado, hay varios vendedores que ofrecen productos
            diferenciados o tienen cierto control sobre el precio.
          </li>
          <li class="mb-2">
            <span class="text-yellow-200"> Mercado monopolístico: </span>
            Un solo vendedor controla la oferta de un bien o servicio, lo que le
            otorga un alto grado de poder de mercado.
          </li>
          <li class="mb-2">
            <span class="text-yellow-200">Mercado oligopólico: </span>
            Pocas empresas dominan la oferta en un determinado sector, lo que
            puede dar lugar a prácticas colusorias o estratégicas.
          </li>
          <li class="mb-2">
            <span class="text-yellow-200">Mercado monopolio: </span>
            Un único vendedor controla toda la oferta, lo que le permite
            establecer el precio según su conveniencia.
          </li>
        </ul>
      </div>
    </div>
    <img
      src="../../../assets/mercamarke.webp"
      width="600"
      height="400"
      alt="Iniciativa emprendedora"
      class="max-w-full mx-8 md:mx-0 md:mr-8"
    />
  </div>
  <div
    class="flex flex-col items-center justify-center pt-10 md:flex-row md:pt-20"
  >
    <img
      src="../../../assets/Marketing2.webp"
      width="400"
      height="200"
      alt="Iniciativa emprendedora"
      class="max-w-full mr-8 md:mr-0 md:ml-8"
    />
    <div class="mx-8 md:w-1/2">
      <h1
        class="text-2xl font-bold text-green-200 break-normal lg:text-3xl font-voll"
      >
        Marketing
      </h1>
      <p
        class="mb-6 text-green-400 rounded-lg lg:text-lg font-comfortaa sm:text-sm"
      >
        El marketing es el proceso de planificar y ejecutar la concepción,
        fijación de precios, promoción y distribución de ideas, bienes y
        servicios para satisfacer los objetivos individuales y
        organizacionales.<br /><br />
        El marketing implica comprender las necesidades y deseos del cliente y
        desarrollar productos y servicios que los satisfagan. También incluye
        determinar el precio adecuado para esos productos y servicios,
        identificar los mejores canales de distribución para llegar a los
        clientes y promocionar y comunicar efectivamente los beneficios de los
        productos y servicios.<br /><br />
        En resumen, el marketing se trata de crear valor para los clientes y
        construir relaciones sólidas con ellos, con el objetivo final de generar
        ingresos y obtener beneficios para la empresa.<br /><br />
        En el proceso de marketing, se consideran cuatro elementos
        fundamentales:
      </p>
      <ol
        class="mb-2 text-green-400 list-decimal rounded-lg lg:text-lg font-comfortaa sm:text-sm"
      >
        <li class="mb-2">
          <span class="text-yellow-200"> Producto: </span>
          Refiere a los bienes tangibles o intangibles que una empresa ofrece a
          sus clientes. Esto incluye la calidad, el diseño, las características
          y el empaquetado del producto.
        </li>
        <li class="mb-2">
          <span class="text-yellow-200"> Precio: </span>
          Es el valor monetario que se asigna al producto o servicio. Determinar
          el precio adecuado implica considerar los costos de producción, la
          demanda del mercado, la competencia y la percepción de valor por parte
          del cliente.
        </li>
        <li class="mb-2">
          <span class="text-yellow-200"> Distribución: </span>
          Se refiere a los canales y métodos utilizados para llevar el producto
          o servicio al cliente final. Esto incluye decisiones sobre la
          distribución física del producto, la selección de intermediarios y la
          gestión de inventarios.
        </li>
        <li class="mb-2">
          <span class="text-yellow-200"> Promoción: </span>
          Incluye todas las actividades de marketing destinadas a comunicar y
          persuadir al público objetivo sobre los beneficios y ventajas del
          producto o servicio. Esto puede incluir publicidad, relaciones
          públicas, ventas personales y promociones de ventas.
        </li>
      </ol>
    </div>
  </div>
  <div class="flex flex-col items-center justify-center md:flex-row md:pt-10">
    <div class="mx-8 md:w-1/2">
      <h1
        class="text-2xl font-bold text-green-200 break-normal lg:text-3xl font-voll"
      >
        Y para terminar "La franquicia"
      </h1>
      <p
        class="mt-3 text-green-400 rounded-lg lg:text-lg font-comfortaa sm:text-sm"
      >
        La franquicia es un acuerdo entre el franquiciante (dueño de una
        empresa) y el franquiciado (persona interesada en operar un negocio) que
        otorga al franquiciado el derecho de utilizar el nombre comercial, los
        productos, los servicios y los métodos de operación del franquiciante a
        cambio de regalías y otras tarifas.<br /><br />
        Las franquicias tienen ventajas y desventajas tanto para el
        franquiciante como para el franquiciado. A continuación, se presentan
        algunas de ellas:
      </p>
      <ul class="pl-5 mb-6 list-disc font-comfortaa">
        <li class="p-2 mb-2 text-white rounded-lg">
          <span class="text-yellow-200"> Ventajas: </span>
          <ul class="pl-5 text-white">
            <li class="mb-2">Posibilidad de utilizar una marca reconocida.</li>
            <li class="mb-2">
              Recibir apoyo y capacitación del franquiciante.
            </li>
            <li class="mb-2">Acceso a un modelo de negocio probado.</li>
          </ul>
        </li>
        <li class="p-2 mb-2 text-white rounded-lg">
          <span class="text-yellow-200"> Desventajas: </span>
          <ul class="pl-5">
            <li class="mb-2">Pago de regalías y tarifas al franquiciante.</li>
            <li class="mb-2">Falta de control total sobre el negocio.</li>
            <li class="mb-2">Dependencia del éxito del franquiciante.</li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
